/* CSS styles for the ShortUrlRedirect component */

/* Styles for the container of the ShortUrlRedirect component */
.short-url-redirect {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white; 
}

/* Styles for the heading element within the ShortUrlRedirect component */
.short-url-redirect h1 {
    color: black; 
    font-size: 30px; 
    font-weight: 400; 
    letter-spacing: 2px; 
    word-spacing: normal; 
    text-transform: capitalize; 
    text-decoration: underline;
}
